<!DOCTYPE html>
<html>
<head>
  <title>BeanClass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
  <!--부트스트랩-->
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  
  <!--부트스트랩 셀렉트-->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
  
  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-ko_KR.min.js"></script>


  <!--timepicker-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
  
  
</head>
<body>
<div class="container">
  <div style="min-height:1100px" align="center">
    <div style="margin-top:20px; margin-right:30px;" align="right">
        <a href="https://khuis.khu.ac.kr/" target="_black">
            <img height="40" width="40" src="/assets/kyunghee.jpeg" class="img-circle">
        </a>
        <a href="http://codrug.me/" target="_blank">
            <img height="40" width="40" src="/assets/codruglogo.png" class="img-circle">
        </a>
        <a href="https://www.facebook.com/FindBeanClass/" target="_blank">
            <img height="40" width="40" src="/assets/fb-art.png" class="img-circle">
        </a>
    </div>
    
      <a href="/">    
        <img style="max-width: 100%; height: auto; margin-top:60px;"  src="/assets/kyungheelogo.png">
      </a>
    <div style="margin-top:100px" class="container">
              <form action=/home/result method="get">
                <!--<div class="row">-->
                      <!--<div class="col-xs-3">-->
                      <div>
                        <div class="form-group" style="display: inline-block; max-width: 40%; height: auto;">
                            <label for="exampleInputEmail1">요일</label>
                            <select class="selectpicker form-control" multiple title="요일을 선택해주세요" data-max-options="1" name="day">
                                <option value="월">월</option>
                                <option value="화">화</option>
                                <option value="수">수</option>
                                <option value="목">목</option>
                                <option value="금">금</option>
                            </select>
                        </div>
                      <!--</div>-->
                      <!--<div class="col-xs-3">-->
                        <div class="form-group" style="display: inline-block; max-width: 40%; height: auto;">
                            <label for="exampleInputEmail1">건물</label>
                            <select class="selectpicker form-control" multiple title="건물을 선택해주세요" data-max-options="1" data-live-search="true" name="building">
                                <option value="청">청운관</option>
                                <option value="네">네오관</option>
                                <option value="오">경영대</option>
                                <option value="호">호관대(별관 포함)</option>
                                <option value="생">생과대</option>
                                <option value="문">문과대</option>
                                <option value="이">이과대</option>
                                <option value="수">수학과 연습실</option>
                                <option value="정">정경대</option>
                            </select>
                        </div>
                      <!--</div>-->
                    
                      <!--<div class="col-xs-3">-->
                        <div class="form-group" style="display: inline-block; max-width: 40%; height: auto;">
                          <label for="exampleInputEmail1">시작시간</label>
                          <div class="input-group bootstrap-timepicker timepicker">
                              
                              <input id="timepicker1" type="text" class="form-control input-small" name="begin">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                          </div>
                        </div>
                      <!--</div>-->
                      <!--<div class="col-xs-3">-->
                        <div class="form-group" style="display: inline-block; max-width: 40%; height: auto;">
                            <label for="exampleInputEmail1">끝시간</label>
                            <div class="input-group bootstrap-timepicker timepicker">
                                
                                <input id="timepicker2" type="text" class="form-control input-small" name="end">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        </div>
                      <!--</div>-->
                      </div>
                <!--</div><br>-->
                    <div>
                      <button type="submit" class="btn btn-danger" style="float:center;">
                        <span class="glyphicon glyphicon-send" aria-hidden="true">
                          조회하기
                        </span>
                      </button>
                    </div>  
              </form>
    </div>
    
  

  
  
<%= yield %><br><br>

      <div class="container"style="max-width: 100%; height: auto; float:center;">
      	<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true" style="color: black; font-size:15px;" align="left">&nbsp;한줄톡</span>
        <!--한줄 톡 보여주기-->
        <div id="linetalks" style="padding: 10px; border: #2CA44C solid 1px; border-radius:25px;">
          <% @linetalks.each do |l| %>
            <p align="left" id="linetalk" style="border-bottom:1px gray dotted;">-<%= l.linetalk_content %></p>
          <% end %>
        </div>
        <%= will_paginate @linetalks %>   
        <div class="form-group">
          <div id="page_main_line_talk" class="input-group">
            <input id="linetalk_input" type="text" class="form-control talk_content" name="page_main_line_talk" placeholder="무엇이든 얘기하세요." style="width:100%; background: none; background-color: none; border-radius: 0;" required>
            <span class="input-group-btn">
              <button class="btn btn-default talk_submit" type="button" style="background: none; border-radius: 0;">톡!</button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
</div>

    <script type="text/javascript">
        $('#timepicker1').timepicker();
        $('#timepicker2').timepicker();
        $('.selectpicker').selectpicker('render');
        
        // 한줄톡 관련
        $("#linetalk_input").keydown(function (key) {
            if(key.keyCode == 13){//키가 13이면 실행 (엔터는 13)
              talk_content = $(".talk_content").val()
        	    if (talk_content == "" || talk_content.length > 20) {
        	    	alert("동무 글이 없거나 20자를 넘어가면 안된다오")
        	    } else {
        		    $.ajax({
        		      method:"post",
        		      url: "/home/linetalk_write",
        		      data: { linetalk_content_view: talk_content },
        		      success: function(){
        		        $('#linetalks').children().last().remove();
        		        $("#linetalks").prepend("<p align='left' id='linetalk' style='border-bottom:1px gray dotted;'>"+"-"+talk_content+"</p>");
        		        $(".talk_content").val('');
        		      },  
        		      error: function(){
        		        alert("동무 에러가 났소 연락부탁하오");
        		        $(".talk_content").val('');
        		      }
        		      // $("#reply_"+post_id).append("<p>"+post_content+"</p>")
        		      // $("#content_"+post_id).val('');
        		    })
        	    }
            }
          });
          $(".talk_submit").click(function(){
            talk_content = $(".talk_content").val()
            if (talk_content == "" || talk_content.length > 20) {
            	alert("동무 글이 없거나 20자를 넘어가면 안된다오")
            } else {
        	    $.ajax({
        	      method:"post",
        	      url: "/home/linetalk_write",
        	      data: { linetalk_content_view: talk_content },
        	      success: function(){
        	        $('#linetalks').children("p:last").remove();
        	        $("#linetalks").prepend("<p align='left' id='linetalk' style='border-bottom:1px gray dotted;'>"+"-"+talk_content+"</p>");
        	        $(".talk_content").val('');
        	      },  
        	      error: function(){
        	        alert("동무 에러가 났소 연락부탁하오");
        	        $(".talk_content").val('');
        	      }
        	      // $("#reply_"+post_id).append("<p>"+post_content+"</p>")
        	      // $("#content_"+post_id).val('');
        	    })
            }
          })
            //   한줄톡 끝
        
        
          
    </script>
    <p style="text-align:center;">
      <strong>수정사항이나 문의는 <span style="color:#EA4335">한줄톡</span>에 남겨주세요!</strong>
    </p>
    <p style="text-align:center;">
        Copyright ©
        <strong>HoBrothers</strong>
        All rights reserved.
    </p>
</body>
</html>
